{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-wrapper">
    <div class="home-container">
        <h1>Sistema Integral de Informacion UTTlaxcala</h1>
        <h3>Bienvenido {{ user }}</h3>
        <h3>Yo soy {{ type_user }}</h3>
        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <input type="submit" class="submit-btn" value="Salir">
        </form>
    </div>
    <div class="image-container">
        <img src="/static/images/plant.gif" class="centered-imgs" />
    </div>
</div>

{% endblock %}
