{% extends "base.html" %}

{% block title %}Login{% endblock  %}

{% block content %}
<div class="form-structor">
    <div class="signup">
        <form method="post">
            {% csrf_token %}
            <div class="form-img">
                <img src="/static/images/utt.png" class="centered-img" />
            </div>
            <div class="form-holder">
                {{ form }}
            </div>
            <button type="submit" class="submit-btn">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}